/*작은 영어 font-family: 'Raleway', sans-serif;*/
/*큰 영어 font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Varela Round', sans-serif;*/
/*한글 font-family: 'Nanum Gothic', sans-serif;*/
/*font-family: 'Alegreya Sans SC', sans-serif;*/

/*COMMON*/
nav ul li a{
    display: block;
    text-align: center;
    padding:20px 0;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 1px;
    color:#333;
    -webkit-transition: all 0.5s cubic-bezier(0,0,0.580,1);
    -moz-transition: all 0.5s cubic-bezier(0,0,0.580,1);
    -ms-transition: all 0.5s cubic-bezier(0,0,0.580,1);
    -o-transition: all 0.5s cubic-bezier(0,0,0.580,1);
    transition: all 0.5s cubic-bezier(0,0,0.580,1);
}

/*MAIN*/
#main .main-page .nav-btn{
    width:126px;
    position: absolute;
    top:45%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding:1%;
}
#main .main-page .nav-btn img{
    width: 100%;
}/*logo*/
#main .main-page .author{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    letter-spacing: 2px;
    position: absolute;
    top:-10%;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#main .main-page>p{
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}
#main .main-page .tag{
    top:16%;
    font-size: 24px;
    display: none;
}
#main .main-page .comment{
    top:85%;
    display: none;
}
#main .main-page .click{
    display: inline-block;
    top:41%;
    left:49%;
    padding:10px 15px;
    background:rgba(244,239,239,1);
    border-radius: 10px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}
#main .main-page .click::after{
    position: absolute;
    left:80px;
    display: block;
    z-index: 999;
    content:"";
    width: 15px;
    height: 15px;
    background:rgba(244,239,239,1);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scaleY(0.8) rotate(45deg);
    -moz-transform: scaleY(0.8) rotate(45deg);
    -ms-transform: scaleY(0.8) rotate(45deg);
    -o-transform: scaleY(0.8) rotate(45deg);
    transform: scaleY(0.8) rotate(45deg);
}
#main .main-page .close{
    width: 16px;
    position: absolute;
    top:3%;
    right:3%;
    display: none;
}
#main .main-page .close img{
    width: inherit;
}
#main .main-page .home-nav{
    width: 100%;
    position: absolute;
    top:50%;
    /*-webkit-transform: translateY(-50%);*/
    /*-moz-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*-o-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    display: none;
}
#main .main-page .home-nav ul{
    width: 100%;
    height: 100%;
    border-top:1px solid #dcdcdc;
}
#main .main-page .home-nav ul li{
    border-bottom:1px solid #dcdcdc;
}
#main .main-page .home-nav ul li a{
    font-size: 20px;
}
#main .main-page .home-nav ul li a:hover{
    background:#f4efef;
}
/*main-right*/
#main .main-page-right .slideWrap{
    max-width: 100%;
    width: 50%;
    position: absolute;
    top:20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    padding:55px 0 40px;
    opacity:0;
}
#main .main-page-right .slideWrapj .slider{
    width: 100%;
}
#main .main-page-right .slideWrap .slider div{
    padding:40px 0;
    /*background:rgba(244,239,239,0.45)!important;*/
    /*background:rgba(242,73,113,0.25);*/
}
#main .main-page-right .slideWrap .slider div h2{
    font-family:'Open Sans', sans-serif;
}
#main .main-page-right .slideWrap .slider div>p{
    font-family: 'Nanum Gothic', sans-serif;
    margin-top:7px
}
/*main-right bxslide css edit*/
.bx-wrapper{
    background: transparent!important;
    border:none!important;
    -webkit-box-shadow: 0 0 0 transparent!important;
    -moz-box-shadow: 0 0 0 transparent!important;
    box-shadow: 0 0 0 transparent!important;
}
.bx-wrapper .bx-pager{
    width:auto!important;
    left:50%;
    transform:translateX(-50%);
}
.bx-wrapper .bx-pager a{
    width:7px!important;
    height: 7px!important;
    background:#dcdcdc!important;
}
.bx-wrapper .bx-pager a.active{
    background:#777!important;
}
.bx-viewport{
    max-width: 100%!important;
}
.bx-has-pager .bx-controls-direction,
.bx-has-pager .bx-controls-auto{
    display: none!important;
}

/*LAYOUT*/
#main{
    width: 100%;
    height: 100vh;
    background:#fff;
    position: relative;
}
#main .main-page{
    width: 50%;
    height: 100%;
}
#main .main-page-right{
    width: 50%;
    height: 100%;
    background:#f24971;
    z-index: -10;
    transition: width 0.2 linear;
}
#main .main-page-right,
#main .main-page{
    float: left;
    -webkit-transition: width 0.7s ease;
    -moz-transition: width 0.7s ease;
    transition: width 0.7s ease;
}


#container{
    width: 100%;
    border-top:1px solid #dcdcdc;
    position: relative;
}
#container .port-content{
}

/*layout-sidebar*/
.side-bar{
    width: 18%;
    height: 100%;
    position: absolute;
    right:0;
    top:0;
    border-left: 1px solid #dcdcdc;
    overflow: hidden;
}
.side-bar.fixed{
    position: fixed;
    height: 100%;
}
.side-bar .side-logo{
    display: block;
    width: 100%;
}
.side-bar .side-logo::after{
    display: block;
    content: "";
    width: 15px;
    height: 5px;
    margin:40px auto 10px;
    background:#f24971;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.side-bar .side-logo img{
    display: block;
    width: 60px;
    margin:0 auto;
    padding:30px 0 15px;
}
.side-bar ul{
    width: 100%;
    height: 100%;
    position: relative;
}
.side-bar ul li{
    width: 100%;
    position: relative;
}
.side-bar ul li a{
    font-size: 18px;
}
.side-bar ul li a::after{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:10px;
    display: block;
    content: "";
    width: 0;
    height: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background:#f24971;
    -webkit-transition: ;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.side-bar ul li a:hover::after{
    width:10%;
}
.side-bar ul li a.active{
    /*background:#dcdcdc;*/
    color:#f24971;
}
.side-bar ul li a.active::after{
    width: 10%;
}


.intro-page{
    width: 82%;
    height: 100%;
    margin-right:18%;
    /*background:rgba(117,23,27,0.2);*/
}
.intro-page .intro-wrap{
    width: 100%;
    position: relative;
}

#portfolio{
    /*position: relative;*/
    padding: 50px;
    margin-bottom:150px;
}

#about{
    height: 100vh;
    background:#99f;
}

#contact{
    height: 20vh;
    background:#ddd;
}

/*PORTFOLIO*/
#portfolio h3,
#portfolio h5{
    letter-spacing: 1px;
    padding:30px 0;
}
 #portfolio h3{
    font-size:30px;
     font-family: 'Alegreya Sans SC', sans-serif;
}
#portfolio h3::before{
    display: inline-block;
    content:"";
    width: 15px;
    height: 6px;
    background:#000;
    border-radius: 6px;
    margin-right:10px;
    vertical-align:middle;
}
#portfolio h5{
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
}
#portfolio p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    line-height: 25px;
}
#portfolio>ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#portfolio .port-list li{
    /*width: 450px;*/
    width: 31%;
    height: 350px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-size: cover;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    border:1px solid #dcdcdc;
}
#portfolio ul li a{
    display: block;
    width: 100%;
    height: 100%;
    z-index:1;
}
#portfolio ul .p1{
    background:url(../img/thumb-mt.png);
}
#portfolio ul .p2{
    background:url(../img/thumb-ni.png);
}
#portfolio ul .p3{
    background:url(../img/thumb-portfolio.png) center;
}
#portfolio ul .p4{
    background:url(../img/thumb-pt.png) 50%;
    -webkit-background-size: contain;
    background-size: contain!important;
}
#portfolio ul .p5{
    background:url(../img/thumb-ngo.png);
}
#portfolio ul .p6{
    background:url(../img/thumb-wise.png) center;
}
#portfolio .port-overlay{
    width: 0%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
    z-index:10;
}
#portfolio .port-overlay>p{
    display: none;
    position: absolute;
    top:40%;
    left:50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    padding:15px 0;
    font-family: 'Varela Round', sans-serif;
    /*font-family: 'Alegreya Sans SC', sans-serif;*/
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color:#dcdcdc;
    border-top:3px solid #dcdcdc;
    border-bottom: 3px solid #dcdcdc;
}


/* ABOUT*/

