/*
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
font-family: 'Josefin Sans', sans-serif; 영어폰트*/

/*
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
font-family: 'Varela Round', sans-serif; 슬라이드 폰트*/


    #main-page {
        width: 100%;
        height: 100vh;
        background: url(/img/bghead.jpg) no-repeat center fixed; !important;
        background-size: cover;
        z-index: 1;
    }
    #main-page .main-mask {
        background: url(/img/pattern.png) !important;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #main-page .main-slide {
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        background:transparent;
    }
    #main-page .main-slide h1 > img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    #main-page .main-slide div {
        margin:0 auto;
        padding-top: 15px;
        width: 100%;
        text-align: center;
        font-family: 'Varela Round', sans-serif;
        color: #fff;
        width: 100%;
        position: absolute;
    }
    #main-page .main-slide div > h2 {
        font-weight: 600;
        font-size: 2.6em;
        letter-spacing: 1px;
        line-height: 40px;
    }
    #main-page .main-slide div > p {
        font-size: 1.4em;
    }
    /*pc 메인페이지/slide end*/
    #navbar .nav-mobile-btn {
        display: none;
    }
    #navbar {
        width: 100%;
        background-color: #1d2127;
        position: fixed;
        top: 0;
        z-index: 999;
        display: none;
    }
    #navbar .container-fluid .row > a::before {
        display: table;
        content: "";
    }
    #navbar .container-fluid .row > a::after {
        clear: both;
    }
    #navbar .container-fluid .row > a {
        display: block;
        color: #fff;
        font-size: 14px;
        margin: auto 0;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 2px;
        padding: 16px 15px 18px;
        background-color: #f24971;
        text-decoration: none;
    }
    #navbar .container-fluid .row > a,
    #navbar .navbar-collapse ul {
        float: left;
    }

    #navbar .navbar-collapse ul {
        margin-left: -15px;
        margin-right: -15px;
        padding-right: 15px;
        float: right
    }
    #navbar .navbar-collapse ul > li::before {
        display: table;
        content: "";
    }
    #navbar .navbar-collapse ul > li::after {
        clear: both;
    }
    #navbar .navbar-collapse ul > li {
        display: block;
        float: left;
        box-sizing: border-box;
        line-height: 20px;
    }
    #navbar .navbar-collapse ul li > a {
        display: block;
        color: #fff;
        font-size: 14px;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 2px;
        padding:16px 10px 13px;
        margin: 0 15px;
        border-bottom: 5px solid transparent;
        text-decoration: none;
    }
    #navbar .navbar-collapse ul li > a:hover{
        border-bottom: 5px solid #f24971 !important;
        text-decoration: none;
    }
    .active {
        border-bottom: 5px solid #f24971 !important;
        text-decoration: none;
        background:rgba(255,255,255,0.1);
        z-index:999;
        color:#f99;
    }
    #navbar .navbar-collapse ul .linear {
        transition: all 200ms linear;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
    }
    /*nav end*/
    #main-page .main-slide .main-button {
        display: inline-block;
        box-sizing: border-box;
        color: #f24971;
        text-align: center;
        text-decoration: none;
        letter-spacing: 1px;
        white-space: nowrap;
        font-size: 1.2em;
        font-family: 'Varela Round', sans-serif;
        padding: 8px 14px;
        border: 4px solid #f24971;
        border-radius: 6px;
        cursor: pointer;
        z-index: 10;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:25vh;
        transition: all 200ms linear;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
    }
    #main-page .main-slide .main-button:hover {
        color: #fff;
        background: #f24971;
        transition: all 200ms linear;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;

    }
    /*main button end*/
    #intro-page {
        width: 100%;
        height: auto;
        padding: 55px 0 170px 0;
        background: #fff;
    }
    #intro-page .port-page>h3{
        text-align: center;
        font-size: 3em;
        font-weight: 600;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 5px;
        padding:60px 0 30px 0;
        text-transform: uppercase;
        color:#7a7a7a;
    }
    #intro-page .port-page>h3::after{
        width:40px;
        height: 8px;
        display: block;
        content:"";
        background:#f24971;
        margin:15px auto;
    }
    #intro-page .port-page .port-wrap ul {
        width: 100%;
        height: auto;
        margin:0;
        padding:0;        
    }
    #intro-page .port-page .port-wrap ul li {
        position: relative;
        padding: 10px 10px 0 10px;
        z-index: 10;
    }

    #intro-page .port-page .port-wrap .port-img {
        z-index: 10;
        border:1px solid #ddd;
    }
    #intro-page .port-page .port-wrap .port-img > img {
        display: block;
        width: 100%;
        height: 250px;
        margin:0 auto;
        padding:10px;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
    }
    #intro-page .port-page .port-wrap .port-overlay {
        z-index: 20px;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 95.5%;
        height: 250px;
        background: rgba(0, 0, 0, 0);
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }
    #intro-page .port-page .port-wrap .port-overlay > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        letter-spacing: 2px;
        color: #fff;
    }
    #intro-page .port-page .port-wrap .port-overlay > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        letter-spacing: 2px;
        color: #fff;
    }
    #intro-page .port-page .port-wrap .port-overlay a > span {
        display: block;
    }

    #intro-page .port-page .port-wrap .port-overlay a > span:first-child {
        margin-top: 80px;
        font-size: 1.6em;
        font-weight: bold;
        transform: translateY(-110px);
        opacity: 0;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }
    #intro-page .port-page .port-wrap .port-overlay a > span:last-child {
        transform: translateY(120px);
        opacity: 0;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }

    #intro-page .port-page .port-wrap .port-overlay a > span:first-child::after {
        display: block;
        content: "";
        width: 15px;
        height: 2px;
        margin: 10px auto;
        background: #f99;
    }

    /*intro page hover*/
    #intro-page .port-page .port-wrap ul li:hover .port-overlay {
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        margin-top:11px;
    }

    #intro-page .port-page .port-wrap .port-overlay a:hover span {
        transform: translateY(0px);
        opacity: 1;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
    }
    #intro-page .port-page .port-wrap .port-overlay a:hover span:first-child {
        transition-delay: 0.1s;
        -webkit-transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        
    }
    #intro-page .port-page .port-wrap .port-overlay a:hover span:last-child {
        transition-delay: 0.15s;
        -webkit-transition-delay: 0.15s;
        -moz-transition-delay: 0.15s;
        -o-transition-delay: 0.15s;
    }
    
    /*intro-page pc end*/
    #about-page {
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
        background: #fff;
        border-top:1px solid #ddd;
    }
#about-page .build{
    padding:40px 0;
    margin:0;
}
#about-page .about-title>h2{
    text-align: center;
    padding:150px 0 20px 0;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(122,122,122);
    letter-spacing: 1px;
}
#about-page .about-title>h2::after{
    display: block;
    content: "";
    background:#f24971;
    width: 40px;
    height: 8px;
    margin:20px auto;
}
#about-page .about-profile{
    text-align: center;
    margin-bottom:40px;
}
#about-page .about-profile>img{
    max-width: 120px;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    padding:4px;
    background: :#fff;
    border:1px solid #ddd;
    transition: all 0.2s ease-in-out;
    line-height: 1;
}
#about-page .about-info p{
    font-family: 'Varela Round', sans-serif;
    color:#7a7a7a;
    letter-spacing: 1px;
    font-size:1.1em;
}
/*span*/

#about-page .about-info .education{
    font-weight: 600;
    color:#f24971;
    line-height: 25px;
}
#about-page .about-tool h5{
    font-size: 1.2em;
    font-family: 'Varela Round', sans-serif;
    color:#7a7a7a;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 30px;
}
#about-page .about-tool ul{
    display: flex;
}
#about-page .about-tool ul li{
    margin:0 5px;
}
#about-page .about-skill{
    width: 100%;
    height: auto;
}
#about-page .about-skill ul li{
    display: block;
    position: relative;
}
#about-page .about-skill .wrap-progress .pull-left{
    font-size: 1em;
    font-family: 'Varela Round', sans-serif;
    color:#7a7a7a;
    font-weight: 600;
    letter-spacing: 1px;
}
#about-page .about-skill .wrap-progress .progress{
    clear:both;
    background:#dadfe1;
    box-shadow: none;
    margin:6px 0 16px 0;
    overflow:inherit;
    border-radius: 3px;
}
#about-page .about-skill .wrap-progress .progress-bar{
    background:#f24971;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

    /*about page pc end*/
    #contact-page {
        width: 100%;
        height: 100%;
        padding:55px 0;
        background:rgb(242,242,242);
    }
#contact-page .contact-subject>h5{
    text-align: center;
    padding:50px 0 30px 0;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(122,122,122);
    letter-spacing: 1px;
}
#contact-page .contact-info{
    text-align: center;
}
#contact-page .contact-info>img{
    padding:15px 0;
}
#contact-page .contact-info>p{
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color:#7a7a7a;
}
footer{
    background:#1d2127;
    padding:10px 0;
}
footer .copy-right>p{
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 1px;
}
footer .copy-right p>span{
    color:#f24971;
}

