@import url('https://fonts.googleapis.com/css?family=Raleway');
/*font-family: 'Raleway', sans-serif;*/
*{
	margin:0;
	padding:0;
}

.navWrap{
	width:100%;
	transition:top 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
	box-sizing: border;
	display: none;
}
.main-nav ul{
	width:100%;
}
.main-nav ul li{
	padding:2% 0;
	border-bottom:1px dotted rgba(255,255,255,0.2);
	box-sizing:border-box;
}
.main-nav ul li:last-child{
	border-bottom:none;
}
.main-nav ul li>a{
	display: block;
	color:rgba(255,255,255,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-decoration: none;
	letter-spacing: 1px;
	font-weight:500;
	transition:all 0.5s ease;
}
.main-nav ul li>a:hover{
	transition:all 0.2s ease;
	color:rgba(255,255,255,1);
}
.mainPage{
	width:100%;
	height: auto;
	background:url('../img/pcbg.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size:cover;}

.mainPage .row::before{
	content:"";
	display: table;
}
.mainPage .row::after{
	clear:both;
}

/*menu animation*/
.mainPage .nav-icon-bg{
	height: 26px;
	margin-top:20px;
}
#navicon{
	display: inline-block;
	width: 35px;
	height: 26px;
	position: absolute;
	right:10px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#navicon span{
	display: block;
	position:absolute;
	left:0;
	width:100%;
	height: 3px;
	background:#333;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
#navicon span:nth-child(1){
	top:0px;
}
#navicon span:nth-child(2),
#navicon span:nth-child(3){
	top:10px;
}
#navicon span:nth-child(4){
	top:20px;
}

#navicon.open span:nth-child(1),
#navicon.open span:nth-child(4){
	top:10px;
	left:50%;
	width:0%;
}
#navicon.open span:nth-child(2){
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#navicon.open span:nth-child(3){
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);	
}

/*main Intro*/

.mainPage .main-intro{
	width:100%;
	padding-top:220px;
	text-align: center;
	margin:0 -15px !important;
}
.mainPage .main-intro>h1{
	display: inline-block;
	font-family: 'Raleway';
	font-size: 3.3em;
	font-weight: bold;
	letter-spacing: 5px;
	word-spacing: 4px;
	margin:10px;
	color:#333;
}
.mainPage .main-intro>h2{
	font-family: 'Raleway';
	font-size:2em;
	color:#333;
	letter-spacing: 2px;
	word-spacing: 4px;
}
.mainPage .main-intro>h2::after{
	display: block;
	content: "";
	width:45px;
	height:2px;
	background:#333;
	margin:20px auto 50px;
}
.mainPage .main-about-wrap{
    margin-right: 15px !important;
    margin-left: 15px !important;
}
.mainPage .main-button{
	padding-bottom:130px;
	overflow: hidden;
}
.mainPage .main-button>span{
	display: block;
	width:250px;
	padding:10px 30px;
	border:1px solid #ccc;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	margin:0 auto;
	text-align: center;
	font-size:1.2em;
	font-family: 'Raleway';
	color:#ccc;
	letter-spacing: 3px;
	cursor: pointer;
}
.mainPage .main-button>span:hover{
	border:1px solid #f99;
    color:#f99;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}

.mainPortfolio{
	width:100%;
	height: auto;
    background:#dcc6af;
    position: relative;
}
.mainPortfolio .portfolio-bg{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
.mainPortfolio .portfolio-bg>li{
    display: block;
    height: inherit;
    float: left;
    z-index:1;
}
.mainPortfolio .portfolio-bg li:first-child{
    width:70%;
    height: 100%;
    background:#dcc6af;
    z-index:2;
    transform: skewX(30deg);
}
.mainPortfolio .portfolio-bg li:last-child{
    width:30%;
    background:#706c69;
}

.mainPortfolio .container{
    z-index:9999;
}

.mainPortfolio .port-wrap{
	width:100%;
	height: auto;
	padding-bottom: 95px;
}
.mainPortfolio .port-wrap ul{
    margin-top:-40px;
}
.mainPortfolio .port-wrap ul li{
	padding:0;
	position:relative;
	z-index: 10;
}
.mainPortfolio .port-wrap .port-img{
	z-index:10;
}
.mainPortfolio .port-wrap .port-img>img{
	width:100%;
	height:250px;
}
.mainPortfolio .port-wrap .port-overlay{
	z-index:20px;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 250px;
	background:rgba(0,0,0,0.6);
}
.mainPortfolio .port-wrap .port-overlay>a{
	display: inline-block;
	width:100%;
	text-align: center;
	text-decoration: none;
	font-family: 'Raleway';
	letter-spacing: 2px;
	color:#fff;
}
.mainPortfolio .port-wrap .port-overlay a>span{
	display:block;
	
}
.mainPortfolio .port-wrap .port-overlay a>span:first-child{
	margin-top:80px;
	font-size: 1.6em;
	font-weight: bold;
}

.mainPortfolio .port-wrap .port-overlay a>span:first-child::after{
	display: block;
	content:"";
	width:15px;
	height:2px;
	margin:10px auto;
	background:#f99;
}

footer{
    width:100%;
    height:auto;
    font-family: 'Raleway';
    color:#fff;
    position: relative;
    background:#706c69;
    z-index: 1;
}
footer .ft-bg{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}


footer>p{
    width: 100%;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    z-index: 9999;
}

footer .touch{
    display: block;
    font-size: 2em;
    font-weight: 600;
    padding-top:30px;
    z-index: 100;
}
footer .touch::after{
    display: block;
    content:"";
    width:40px;
    height:3px;
    background:#fff;
    margin:20px auto;
   z-index: 100;
}
footer .copy{
    font-size: 1em;
    padding:20px 0;
    z-index: 100;
}
footer .ft-info{
    width:60%;
    height: auto;
    margin:0 auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
footer .ft-info li{
    text-align: center;
    margin:3vh 0;
    letter-spacing: 2px;
    z-index: 100;
}
footer .ft-info li>img{
    margin-bottom: 15px;
    z-index: 100;
}

